.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

uploads/*
logo/*

.DS_Store
.VolumeIcon.icns
.fseventsd
Icon^M^M
