.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

uploads/*
logo/*

.DS_Store
.VolumeIcon.icns
.fseventsd
**/Icon^M
^M^M
Icon\r
application/Icon\r
application/config/Icon\r
application/controllers/Icon\r
application/core/Icon\r
application/errors/Icon\r
application/helpers/Icon\r
application/hooks/Icon\r
application/language/Icon\r
application/language/english/Icon\r
application/libraries/Icon\r
application/models/Icon\r
application/third_party/Icon\r
application/views/Icon\r
application/views/candidate/Icon\r
application/views/candidate/edit/Icon\r
application/views/candidate/insert/Icon\r
application/views/candidate/view/Icon\r
application/views/company/Icon\r
application/views/company/company_profile.php
application/views/company/edit/Icon\r
application/views/company/insert/Icon\r
application/views/company/view/Icon\r
application/views/vacancy/Icon\r
application/views/vacancy/candidate/Icon\r
application/views/vacancy/company/Icon\r
application/views/vacancy/company/insert/Icon\r
application/views/vacancy/company/view/Icon\r
css/Icon\r
css/bootstrap/Icon\r
css/bootstrap/css/Icon\r
css/bootstrap/img/Icon\r
css/bootstrap/js/Icon\r
css/images/Icon\r
cv/Icon\r
images/Icon\r
js/Icon\r
sqls_of_db/Icon\r
system/Icon\r
system/core/Icon\r
system/database/Icon\r
system/database/drivers/Icon\r
system/database/drivers/cubrid/Icon\r
system/database/drivers/mssql/Icon\r
system/database/drivers/mysql/Icon\r
system/database/drivers/mysqli/Icon\r
system/database/drivers/oci8/Icon\r
system/database/drivers/odbc/Icon\r
system/database/drivers/pdo/Icon\r
system/database/drivers/postgre/Icon\r
system/database/drivers/sqlite/Icon\r
system/database/drivers/sqlsrv/Icon\r
system/fonts/Icon\r
system/helpers/Icon\r
system/language/Icon\r
system/language/english/Icon\r
system/libraries/Cache/Icon\r
system/libraries/Cache/drivers/Icon\r
system/libraries/Icon\r
system/libraries/javascript/Icon\r
user_guide/Icon\r
user_guide/database/Icon\r
user_guide/doc_style/Icon\r
user_guide/general/Icon\r
user_guide/helpers/Icon\r
user_guide/images/Icon\r
user_guide/installation/Icon\r
user_guide/libraries/Icon\r
user_guide/nav/Icon\r
user_guide/overview/Icon\r
user_guide/tutorial/Icon\r
